body{
   margin: 0;
   display: flex;
   justify-content: center;
   height: 100vh;
   align-items: center;
   background-color: rgb(119, 18, 212);
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}
.container{
    background-color:rgb(140, 180, 204);
    width: 400px;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0,0,0);
    

}
.textarea{
resize: none;
width: 100%;
height: 100px;
font-size: 18px;
font-family:sans-serif;
padding: 10px;
box-sizing: border-box;
border: solid 2px darkgray;


}
.counter-container{
  display: flex;
 justify-content: space-between; 
 padding: 0 5px;

}
.counter-container p{
    font-size: 18px;
    color: rgb(19, 21, 160);
}
.total_charc{
    color:rgb(0, 0, 0)
}
.remain_charc{
    color: rgb(212, 32, 26);
}